<h5>Chef <%= @chef.name %></h5>


<div class="pro-head">


</div>

<!-- fix this links -->
<button class="btn btn-default" type='submit'><%= link_to "New Cookbook", new_chef_cookbook_path(@chef), method: :get  %></button>



<br/>
<hr>
  <% @chef.cookbooks.each do |book| %>
  <div class="row">
  <div class="col-lg-6 col-md-6 col-sm-6">
  <div class="bk_img"><a href="/chefs/<%= @chef.id %>/cookbooks/<%= book.id %>"><img src="<%= book.cover_art_url %>" alt="" style="height:200px; width:200px; border-radius:50%"></a></div>
  </div>

  <div class="col-lg-6 col-md-6 col-sm-6">
    <h4><%= book.title %></h4>
  <ul class="chefbook nav nav-pills">
    
    <li>
      <a href="/chefs/<%= @chef.id %>/cookbooks/<%= book.id %>">Index</a>
      <ul>
        <% book.recipes.each do |recipe| %>
          <li>
            <%= link_to recipe.name, chef_cookbook_recipe_path(@chef.id, book.id, recipe.id)  %>
            
          </li>
          <% end %>
        
        
        <li><%= link_to "Add Recipe", new_chef_cookbook_recipe_path(@chef.id, book.id), method: :get  %></li>
        </ul>
    </li>
   <!--  <li>
    <div class='cover' style="display:block; height:200px; width:200px; background:url('<%= book.cover_art_url %>')">
    </li> -->
    </ul>
    </div>
</div>
<hr>
  <% end %>


<!-- <form action="/chefs/<%= @chef.id %>"method='post'>
  <%= token_tag %>
  <input type="hidden" name="_method" value="delete">
  <button type='submit'>Delete My Profile</button>
</form> -->

