

<div id="chef-recis" class="eleven columns offset-by-two">
  <h2 class="chef-name">
    <%= @chef.name %>
  </h2>
  <div class="reci_list">
    <% @chef.recipes.each do |r| %>
    <div id="recis">
      <h3>
        <%= r.name %>
      </h3>
      <h4>from the book:<%= r.cookbook.title %></h4>
      <p>
        <%= puts r.reci %>
      </p>
      <p>
        <%= r.instructions %>
      </p> 
    </div>
    <% end %>
  </div>
</div>
<!-- 
<%= form_tag(chefs_path(@chef.id), method: "delete") %>
-->
