<h3><%= @recipe.name %></h3>
<%= @recipe.reci %>
<%= @recipe.instructions %>
<br/>
<a href="<%= edit_chef_cookbook_recipe_path %>">EDIT</a>
<form action="/chefs/<%= @chef.id %>/cookbooks/<%= @cookbook.id %>/recipes/<%= @recipe.id %>" method='post'>
  <%= token_tag %>
  <input type="hidden" name="_method" value="delete">
  <button type='submit'>Destroy</button>
</form>