<img src="<%= @cookbook.cover_art_url %>">
<ul>
  <% @cookbook.recipes.each do |recipe| %>
    <li>
      
     <h3><%= recipe.name %></h3>
     <%= recipe.id %>
    </li>
    <li>
     <%= recipe.reci %>
    </li>
    <li>
     <%= recipe.instructions %>
    </li>
  <% end %>
</ul>
<form action="/chefs/<%= @chef.id %>/cookbooks/<%= @cookbook.id %>" method='post'>
  <%= token_tag %>
  <input type="hidden" name="_method" value="delete">
  <button type='submit'>Delete Book</button>